/* CSS Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	background-color: #f4f4f4;
	padding: 0px;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: inherit;
}

.App {
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main {
	flex: 1;
	padding: 0 12px;
}

/* Header styles */
header {
	width: 100%;
	height: 130px;
	background: linear-gradient(to right, #ffffff, #b35f77);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	/* color: #333333; */
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	gap: 20px;
}

.logo {
	height: 100%;
	width: 288px;
}
.logo img {
	height: 100%;
	width: 246px;
}

.menu {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	width: 100%;
	max-width: 800px;
}

.menu-toggle {
	display: none;
	flex-direction: column;
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.menu-toggle .bar {
	width: 25px;
	height: 3px;
	background-color: #333;
	margin: 3px 0;
}

/* Стилі для пунктів меню */
.menu-item {
	text-decoration: none;
	font-family: "Lora", serif;
	font-size: 25px;
	color: #333333;
	position: relative;
	padding: 5px 0;
	transition: color 0.3s;
}

.menu-item:hover,
.menu-item.active {
	color: #b35f77;
}

.menu-item::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: #000;
	transition: width 0.3s ease;
}

.menu-item:hover::after,
.menu-item.active::after {
	width: 100%;
}

.menu-item.active {
	color: #000;
}

/* Стилі для правого блоку */
.header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

/* Соцмережі в стилі сітки */
.socials-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	position: relative;
	gap: 10px;
	width: 100px;
	height: 100px;
	position: relative;
}

.social-item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: relative;
}

.social-item img {
	height: 35px;
	transition: transform 0.3s ease;
}

.social-item:hover img {
	transform: scale(1.1);
}

/* Розділювачі */
.socials-grid::before,
.socials-grid::after {
	content: "";
	position: absolute;
	background-color: #333;
}

.socials-grid::before {
	width: 100%;
	height: 2px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.socials-grid::after {
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

/* Стилі для контактної інформації */
.contact-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.phone {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	transition: color 0.3s ease;
}

.phone:hover {
	color: #b35f77;
}

.mail {
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	color: #333;
	text-decoration: none;
	transition: color 0.3s ease;
}

.mail:hover {
	color: #b35f77;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #333;
}

.nav-links {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin: 0 10px;
}

.nav-links a {
	color: #fff;
	text-decoration: none;
}

/* Стилі основних блоків */
.container {
	max-width: 1400px;
	margin: 0 auto;
}

.title {
	display: flex;
	height: 120px;
	justify-content: center;
	align-items: center;
	margin: 20px 0 20px 0;
	font-size: 36px;
	font-family: "Advent Pro", sans-serif;
	color: #333333;
	background-color: #bbb8b8;
	border: 1px solid #a1a1a1;
	border-radius: 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Профільні стилі */
.profile-container {
	display: flex;
	gap: 30px;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.01);
	max-width: 1400px;
	margin: auto;
}

.profile-text {
	font-size: 20px;
	font-family: "Lora", serif;
	text-align: justify;
	color: #333333;
	line-height: 1.8;
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.profile-text p {
	margin-bottom: 15px;
}

.profile-image {
	flex: 1;
	display: flex;
	align-items: center;
	max-height: 100%;
}

.profile-image img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-me-wrapper .toggle-button {
	display: none;
}

.main-projects {
	margin: 20px 0;
}

.main-projects-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.main-projects-img-container {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
}

.main-projects-img {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}

.main-projects-img-container:hover .main-projects-img {
	transform: scale(1.1);
}

.project-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	transition: opacity 0.3s ease;
}

.main-projects-img-container:hover .project-overlay {
	opacity: 0;
}

.main-projects-img-container:hover .main-projects-img {
	cursor: pointer;
}

.main-projects-img-container {
	cursor: pointer;
}

/* Form styles */
.contact-form-container {
	max-width: 600px;
	margin: 0 auto 25px;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 20px;
	color: #333;
}

.contact-form-container input,
.contact-form-container textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
	transition: border-color 0.3s ease;
}

.contact-form-container input:focus,
.contact-form-container textarea:focus {
	border-color: #007bff;
	outline: none;
}

.button-send {
	width: 100%;
	padding: 12px;
	background-color: #b35f77;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1.1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button-send:hover {
	background-color: #333333;
}

/* Services styles */
.services-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.services-article-container {
	width: 48%;
	margin-bottom: 4%;
	border-radius: 15px;
	overflow: hidden;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
}

.services-article-container:hover {
	transform: translate(0, 10px) scale(1.05);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.services-article-title {
	display: flex;
	flex-direction: column;
	height: 120px;
	justify-content: center;
	text-align: center;
	margin: 0;
	font-family: "Advent Pro", sans-serif;
	color: #333333;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.services-article-title h3 {
	font-size: 33px;
	margin: 0;
	line-height: 1.2;
}

.services-left-article {
	background: linear-gradient(to left, #ffffff, #c68799);
}

.services-right-article {
	background: linear-gradient(to right, #ffffff, #c68799);
}

.services-article-content {
	font-size: 18px;
	font-family: "Lora", serif;
	font-weight: 500;
	color: #333333;
	margin: 20px;
	flex-grow: 1;
}

.services-article-container ul {
	list-style: none;
	padding-left: 10px;
}

.li-check {
	background: url("./images/check-mark-svgrepo-com.svg") no-repeat left center;
	background-size: 20px 20px;
	padding-left: 30px;
}

.li-cross {
	background: url("./images/multiply-svgrepo-com.svg") no-repeat left center;
	background-size: 20px 20px;
	padding-left: 30px;
}

.li-check:hover,
.li-cross:hover {
	font-weight: 700;
	transform: scale(1.02);
	color: #b35f77;
}

/* .services-article-container ul li::before {
	margin-right: 5px;
	color: #333;
	list-style-image: url("./images/check-mark-svgrepo-com.svg");
	padding-left: 15px;
} */

.open-modal-button {
	padding: 10px 20px;
	background-color: #b35f77;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.3s ease;
	margin: 10px auto;
}

.open-modal-button:hover {
	background-color: #333333;
}

/* ModalServices styles */
/* .modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	width: 400px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	text-align: center;
}

.modal-content h2 {
	margin-bottom: 20px;
}

.modal-content form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.modal-content form label {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 16px;
}

.modal-content button {
	padding: 10px 15px;
	background-color: #545454;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.modal-content button:hover {
	background-color: #333333;
}

.close-modal {
	margin-top: 10px;
	background-color: #d9534f;
} */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background: white;
	border-radius: 8px;
	position: relative;
	width: 400px;
	max-width: 90%;
}

.form-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.close-button {
	position: absolute;
	top: 0;
	right: 10px;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

/* ScrollToTopButton */
.scroll-to-top {
	position: fixed; /* Закріплює кнопку на екрані */
	bottom: 20px; /* Відстань від нижньої частини */
	right: 20px; /* Відстань від правого краю */
}

.scroll-button {
	width: 60px; /* Ширина кнопки */
	height: 60px; /* Висота кнопки */
	border-radius: 50%; /* Кругла кнопка */
	background-color: #b35f77; /* Колір кнопки */
	color: white; /* Колір тексту */
	border: none; /* Без рамки */
	font-size: 24px; /* Розмір шрифту */
	cursor: pointer; /* Курсор вказівник */
	transition: transform 0.3s ease;

	position: fixed; /* Фіксуємо на екрані */
	bottom: 75px; /* Відстань: 20px + висота футера (припустимо, 100px) */
	right: 50px; /* Відступ справа */
	z-index: 100; /* Завжди зверху */
}

.scroll-button:hover {
	/* background-color: #333333; */
	transform: scale(1.1);
}
/* 
.scroll-button.active {
	background-color: #9c7b5c;
} */

.menu-up {
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 60px; /* Відстань від кнопки */
	right: 10px; /* Відстань від лівого краю */
	background-color: #fff; /* Колір фону */
	border-radius: 8px; /* Закруглені кути */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	opacity: 0; /* Сховане за замовчуванням */
	transform: translateY(10px); /* Спочатку меню знаходиться трохи нижче */
	transition: opacity 0.3s ease, transform 0.3s ease; /* Плавні переходи */
	pointer-events: none; /* Блокує події курсора, поки меню не видимо */
	width: 200px; /* Ширина меню */
	z-index: 1000; /* Перекриває інші елементи */
}

.menu-up-item {
	padding: 10px;
	text-align: center; /* Вирівнює текст по центру */
	color: #333;
	text-decoration: none;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-up-item:hover {
	background-color: #f4f4f4; /* Колір фону при наведенні */
	color: #b35f77; /* Колір тексту при наведенні */
}

/* Додатковий клас для видимого стану меню */
.scroll-to-top .menu-up.active {
	opacity: 1; /* Показати меню */
	transform: translateY(0); /* Перемістити на місце */
	pointer-events: auto; /* Дозволяє взаємодію з меню */
}

/* Footer styles */
.footer {
	background-color: #333333;
	color: #fff;
	padding: 40px 10%;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%; /* Футер на всю ширину */
	box-sizing: border-box;
	/* position: relative; */
}

.footer-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.footer-link {
	font-family: "Lora", serif;
	font-size: 18px;
	color: #f4f4f4;
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-link:hover {
	color: #b35f77;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 15px;
	font-size: 16px;
}

.footer-contact {
	font-family: "Roboto", sans-serif;
	margin: 0;
}

.contact-link {
	color: #f4f4f4;
	text-decoration: none;
	transition: color 0.3s ease;
}

.contact-link:hover {
	color: #b35f77;
}

.footer-socials {
	display: flex;
	gap: 15px;
}

.footer-icon {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.footer-icon:hover {
	transform: scale(1.1);
}

/* Gallary */
.projects-container {
	display: flex;
	margin-top: 20px;
}
.project-description {
	display: flex;
	flex-direction: column;
}

/* Адаптивність для мобільних пристроїв */
@media screen and (max-width: 768px) {
	.menu {
		display: none;
		flex-direction: column;
		width: 100%;
		background-color: #fff;
		position: absolute;
		top: 80px;
		left: 0;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	}

	.menu.active {
		display: flex;
		z-index: 100;
	}

	.menu-item {
		padding: 10px 20px;
		font-size: 18px;
		color: #333;
		text-align: center;
	}

	.menu-toggle {
		display: flex;
	}

	.logo img {
		width: 180px; /* Зменшений розмір логотипа */
		height: 100%;
	}

	.header-right {
		display: none;
	}

	.about-me-wrapper:not(.expanded) .profile-container {
		overflow: hidden;
		max-height: 210px;
	}

	.about-me-wrapper .toggle-button {
		display: block;
		margin: 10px auto;
		background-color: #b35f77;
		color: #fff;
		border: none;
		padding: 10px 20px;
		cursor: pointer;
		border-radius: 5px;
	}

	.main-projects-container {
		display: flex;
		flex-direction: column;
	}

	.footer {
		flex-direction: column;
		align-items: center;
		gap: 15px;
	}

	.footer-links,
	.footer-contacts {
		text-align: center;
	}

	header {
		flex-direction: row;
		height: auto;
		padding: 5px 15px;
	}

	.logo {
		height: 70px;
		/* margin-bottom: 10px; */
	}

	.menu {
		flex-direction: column;
		align-items: center;
		gap: 5px;
		padding-bottom: 10px;
	}

	.title {
		height: 60px;
		font-size: 25px;
	}

	.services-article-container h3 {
		font-size: 25px;
	}

	.services-article-container {
		width: 100%;
	}

	.services-article-title {
		height: 100px;
	}

	.profile-container {
		padding: 15px;
		gap: 15px;
		margin: 0;
	}

	.profile-text {
		font-size: 16px;
	}

	/* .profile-image {
		width: 100%;
		height: 100px; 
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	} */

	/* .profile-image img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	} */

	.back-to-top {
		bottom: 15px;
		right: 15px;
	}

	.back-button {
		padding: 8px 12px; /* Зменшення розмірів для мобільних */
	}

	.scroll-button {
		width: 50px;
		height: 50px;
		bottom: 25px;
		right: 30px;
	}

	.menu-up {
		font-size: 14px; /* Зменшення шрифту для меню */
	}
	.footer {
		flex-direction: column;
		align-items: center;
	}

	.contact-form-container {
		padding: 15px;
	}

	.footer-links,
	.footer-contacts {
		text-align: center;
	}
}

@media (max-width: 480px) {
	.profile-container {
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	.profile-text {
		font-size: 14px;
		text-align: center;
	}

	.profile-title h2 {
		font-size: 28px;
	}
}
